In [1]:
# Célula 1: Importações e Carregamento 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configuração para melhorar a visualização dos gráficos
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

print("--- Bibliotecas importadas ---")

# Defina o nome do arquivo correto
nome_arquivo = 'Atividade_Cap10_produtos_agricolas.csv'

# Carregar o dataset
try:
    df = pd.read_csv(nome_arquivo)
    print(f"Sucesso: Dataset '{nome_arquivo}' carregado.")
except FileNotFoundError:
    print(f"ERRO: Arquivo '{nome_arquivo}' não encontrado.")
    print("Por favor, verifique o nome e o caminho do arquivo.")

--- Bibliotecas importadas ---
Sucesso: Dataset 'Atividade_Cap10_produtos_agricolas.csv' carregado.

In [2]:
# Célula 2: Inspeção Inicial da Estrutura

if 'df' in globals():
    # 1. Visualizar as primeiras linhas
    print("\n--- 1. Amostra dos Dados (Head) ---")
    display(df.head())

    # 2. Informações estruturais (tipos de dados e contagem)
    print("\n--- 2. Informações Estruturais (Info) ---")
    df.info()

    # 3. Verificação de valores nulos (Missing)
    print("\n--- 3. Contagem de Valores Nulos (por coluna) ---")
    print(df.isnull().sum())

    # 4. Estatísticas Descritivas (para colunas numéricas)
    print("\n--- 4. Estatísticas Descritivas (Describe) ---")
    display(df.describe())
else:
    print("O DataFrame 'df' não foi carregado. Execute a Célula 1 primeiro.")

--- 1. Amostra dos Dados (Head) ---

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

--- 2. Informações Estruturais (Info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

--- 3. Contagem de Valores Nulos (por coluna) ---
N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

--- 4. Estatísticas Descritivas (Describe) ---

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117